{{> header}}
<div class="container mt-3 ">
    <h1 class="text-center">Login</h1>
    {{#if loginFlag}}
        <div class="alert alert-danger" role="alert">
            {{msg}}
        </div>
    {{/if}}
    <div class="row" style="padding-left: 450px;">
        <div class="col-6">
            <form  method="post" action="/user/login-data">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                    <input name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required>
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input name="pass" type="password" class="form-control" id="exampleInputPassword1" required>
                 </div>
                <button type="submit" class="btn btn-success">Submit</button>       
            </form>
        </div>
    </div>
   
</div>
