<style>
    .footer {
        left: 0;
        bottom: 0;
        width: 100%;
        color: white;
        text-align: center;
        height: 200px;
        padding-top: 300px;

    }
</style>
<div class="footer">
   
    <div class="container-fluid text-center p-3 text-light border border-2 border-dark bg-dark">
        <p><i>Copyright @2022 by<span class="text-primary"> Rohan Khandizode </span> All Rights Reserved</i></p>
    </div>
</div>