html 
    head 
        title Contact 
    body 
        include bootstrap.html
        include header.pug
        .container
            h1.text-center Contact us
            form(method='post' action='/data')
            .row 
                .col-md-6
                    label.form-label(for='exampleInputEmail1') Full Name
                    input#exampleInputEmail1.form-control(name='name' type='text' aria-describedby='emailHelp')
                .col.md-6
                    label.form-label(for='exampleInputEmail1') Email address
                    input#exampleInputEmail1.form-control(name='email' type='email' aria-describedby='emailHelp')
            .row 
                .col-md-6
                    label.form-label(for='exampleInputPassword1') Password
                    input#exampleInputPassword1.form-control(name='pass' type='password')
                .col.md-6
                    label.form-label(for='exampleInputPassword1') Age
                    input#exampleInputPassword1.form-control(name='age' type='text')
            .row
                .col.md-6
                    label.form-label(for='exampleInputPassword1') City
                    input#exampleInputPassword1.form-control(name='city' type='text')
                .col.md-6
                    label.form-label(for='exampleInputPassword1') Mobile
                    input#exampleInputPassword1.form-control(name='mobile' type='text')
                    br

            
            button.btn.btn-primary(type='submit', style="height:50px;width:100px" ) Submit